[submodule "libs/CopticChanter"]
	path = libs/CopticChanter
	url = https://github.com/yoshiask/CopticChanter
[submodule "CopticChanter.WebApi/wwwroot/content"]
	path = CopticChanter.WebApi/wwwroot/content
	url = https://github.com/yoshiask/CopticChanterContent
