@page "/linguistics"
<PageTitle>Linguistics</PageTitle>

<h2>Lexicon</h2>
<p>
    Search a dictionary of Coptic words.
    At this time, the Sahidic lexicon is the most complete.
</p>
<p>
    <a class="btn btn-outline-secondary" href="/linguistics/lexicon">Go</a>
</p>

<br/>
<h2>Transliterations</h2>
<p>
    Learn how to pronounce text using machine transliteration.
    Currently supports transliterating Coptic and Greek to
    <a href="https://en.wikipedia.org/wiki/International_Phonetic_Alphabet">IPA</a>,
    English, and Arabic using the Grecco-Bohairic pronounciation.
</p>
<p>
    <a class="btn btn-outline-secondary" href="/linguistics/transliterate">Go</a>
</p>
