@page "/read/doc/{docId}"
@using CoptLib.IO
@using CoptLib.Models
@using CopticChanter.WebApi.Client

@inject CoptClient Client

@if (!IsLoaded)
{
    <p>
        <em>Loading @DocId...</em>
    </p>
}
else if (ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
else
{
    <PageTitle>@Name - Coptic Chanter</PageTitle>
    <CoptLayout Table="@Table" />
}

@code {
    [Parameter]
    public string? DocId { get; set; }

    public bool IsLoaded { get; set; } = false;

    public string? ErrorMessage { get; set; }

    public string? Name { get; set; }

    public List<List<IDefinition>>? Table { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var layout = await Client.GetLayoutAsync("doc", DocId!, null);
            
            if (layout.TryGetDoc(out var doc))
                Name = doc.Name;
            Table = layout.Rows;
            
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.ToString();
        }

        IsLoaded = true;
    }
}
