@page "/read/seq/{seqId}"
@using CoptLib.Models
@using CopticChanter.WebApi.Client

@inject CoptClient Client

@if (Title == null)
{
    <PageTitle>Coptic Chanter</PageTitle>
}
else
{
    <PageTitle>@Title - Coptic Chanter</PageTitle>
}

@if (ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
else if (IsLoaded && Table != null)
{
    <CoptLayout Table="@Table" />
}
else
{
    <p>
        <em>Loading @Title...</em>
    </p>
}

@code {
    [Parameter]
    public string? SeqId { get; set; }

    public bool IsLoaded { get; set; } = false;

    public string? ErrorMessage { get; set; }

    public string? Title { get; set; }

    public List<List<IDefinition>>? Table { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Title = SeqId ?? throw new ArgumentNullException(nameof(SeqId), "A sequence ID must be provided.");
            StateHasChanged();

            var layout = await Client.GetLayoutAsync("seq", SeqId, null);
            Table = layout.Rows;
        }
        catch (Exception ex)
        {
            Table = null;
            ErrorMessage = ex.ToString();
        }

        IsLoaded = true;
    }
}
