@inherits LayoutComponentBase
<head>
    <title>Coptic Chanter</title>
    
    @* Google Fonts *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+Arabic:400' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+Coptic:400' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans+Hebrew:400' rel='stylesheet' type='text/css'/>
</head>
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>