@font-face {
    font-family: "Segoe UI Variable Display";
    src: url('./SegUIVar.ttf');
}

html {
    font-size: 20px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 30px;
    }
}

h1 {
    font-weight: bolder;
    font-family: "Segoe UI Variable Display", sans-serif;
}

h2 {
    font-weight: bold;
    font-family: "Segoe UI Variable Display", sans-serif;
}

body {
    font-family: "Noto Sans", sans-serif;
    margin-bottom: 60px;
}

.arabic {
    font-family: "Noto Sans Arabic", "Noto Sans", sans-serif;
}

.coptic {
    font-family: "Noto Sans Coptic", "Noto Sans", sans-serif;
}

.hebrew {
    font-family: "Noto Sans Hebrew", "Noto Sans", sans-serif;
}
