@font-face {
    font-family: "Segoe UI Variable Display";
    src: url('./SegUIVar.ttf');
}

html {
    font-size: 20px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 30px;
    }
}

body {
    font-family: "Segoe UI Variable Display", "Noto Sans";
    margin-bottom: 60px;
}

.arabic {
    font-family: "Noto Sans Arabic";
}

.coptic {
    font-family: "Noto Sans Coptic";
}

.hebrew {
    font-family: "Noto Sans Hebrew";
}
