html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.arabic {
    font-family: "Noto Sans Arabic";
}

.coptic {
    font-family: "Noto Sans Coptic";
}

.hebrew {
    font-family: "Noto Sans Hebrew";
}
