@using CoptLib.Models
@using CopticChanterNet.Models
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env

@{
    var Model = new DocSetViewModel(env);
    Model.LoadSetCommand.Execute(null);
    ViewData["Title"] = Model.Title;
}

@if (Model.LoadSetCommand.IsRunning)
{
    <p>Loading, please be patient...</p>
}
else
{
    <h1>@(Model.Title)</h1>

    <table>
        @foreach (var row in Model.Layout)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>@((cell as IContent)?.Text)</td>
                }
            </tr>
        }
    </table>
}
