body {
    font-family: "Noto Sans";
    line-height: unset;
}

td {
    vertical-align: text-top;
}

th, td {
    padding: 4pt;
}

.docName {
    font-weight: bolder;
    font-size: 1.5rem;
}

.sectionTitle {
    font-weight: bold;
    font-size: 1.25rem;
}

.comment {
    font-size: 0.9rem;
    color: var(--bs-secondary);
}

.arabic {
    font-family: "Noto Sans Arabic";
}

.coptic {
    font-family: "Noto Sans Coptic";
}

.hebrew {
    font-family: "Noto Sans Hebrew";
}
