@model CopticChanterNet.Views.TasbehaOrg.IndexModel

@{
    ViewData["Title"] = "Tasbeha.org Converter";

    @using (Html.BeginForm("Convert", "TasbehaOrg", FormMethod.Post))
    {
        <h2>@ViewData["Title"]</h2>
        <p>Create a Coptic Chanter document from a lyrics page on Tasbeha.org</p>

        <label for="LyricId">Lyric ID:</label>
        <br />
        @Html.TextBoxFor(m => m.LyricId)
        <br /><br />

        <label for="Html">Outer HTML content of lyrics page:</label>
        <br />
        <textarea asp-for="Html" class="form-control"></textarea>
        <br />

        <input type="submit" value="Convert" />
    }
}
