@page "/authoring"
<PageTitle>Authoring</PageTitle>

<h2>Script Runner</h2>
<p>
    Allows .NET and Lua scripts to be tested online.
</p>
<p>
    <a class="btn btn-outline-secondary" href="/authoring/script-runner">Go</a>
</p>
