@page "/authoring/script-runner"
@inherits ScriptRunnerBase

<PageTitle>Script Runner</PageTitle>

<div class="input-grid">
    <div class="input-group" style="grid-row: 1">
        <span class="input-group-text" id="txt-lbl">Body*</span>
        <InputTextArea class="form-control" @bind-Value="Body" placeholder="The body of the script" aria-label="Body" aria-describedby="txt-lbl" />
    </div>

    <div class="input-group" style="grid-row: 2">
        <span class="input-group-text" id="dst-lbl">Script Language*</span>
        <InputText class="form-control" @bind-Value="TypeId" placeholder="The ID of the scripting programming language (e.g. `lua` or `csharp`)" aria-label="DstLanguage" aria-describedby="dst-lbl" />
    </div>
    
    <button class="btn btn-outline-secondary" style="grid-row: 4; width: min-content;" @onclick="BeginRun">Run</button>
</div>

<style>
    .input-grid {
        display: grid;
        gap: 10px;
    }

    h3 {
        font-family: var(--font-body);
    }
</style>

<hr />

@if (ErrorMessage != null)
{
    <p>@ErrorMessage</p>
}
else if (Response == null)
{
    <p><em>Enter the script body above.</em></p>
}
else
{
    <p>@Response</p>
}
